{% extends 'base.html' %}
{% block content %}

<h3>Doctor Appointments</h3>

<table class="table table-striped">
    <tr>
        <th>Patient</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for a in appointments %}
    <tr>
        <td>{{ a.patient.username }}</td>
        <td>{{ a.date }}</td>
        <td>{{ a.status }}</td>
        <td>
            {% if a.status == "Pending" %}
                <form method="post" action="{% url 'update_status' a.id 'Approved' %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-success btn-sm">Approve</button>
                </form>
                <form method="post" action="{% url 'update_status' a.id 'Rejected' %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm">Reject</button>
                </form>
            {% else %}
                Done
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
